/*
 * tiptapエディタ
 */

.ProseMirror:focus-visible {
  outline: none;
}

.ProseMirror p {
  margin-bottom: 32px !important;
  font-size: 18px;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
  user-select: none;
}

/*
 * 記事画面とエディタ画面の幅を共通化するスタイル
 */
.post-width {
  max-width: 620px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 70vh
}

/*
 * アイキャッチ画像のアップロードボタン
 */
.eyecatch-image .mdi-image-plus-outline {
  color: #adb5bd !important;
}